.greeting-message {
  margin-bottom: 16px; /* Adjust this value to your preference */
}

.button-container {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;  /* adjust as needed */
  gap: 10px;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
  white-space: nowrap; /* this prevents the text from wrapping to a new line */
}

.gen-category-btn {
  /* The styles from .gen-slate-btn */
  border: none;
  background: #0084ff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  
  /* The additional styles you want for .gen-category-btn */
  background-color: gray;

  /* Add hover effect */
  transition: all 0.3s ease; /* 'all' means that all properties will transition */
}

.gen-category-btn:hover {
  background-color: #666;
  transform: scale(1.1); /* 1.1 is the zoom level, adjust as needed */
}

.message-buttons-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: calc(2 * 60px); /* adjust the height according to your message button's height */
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

.gen-message-btn {
  display: block;
  width: 100%;
  margin: 5px auto;
  padding: 10px;
  border-radius: 4px;
  background-color: green;
  border: none;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  font-size: 16px;

  /* Add hover effect */
  transition: all 0.3s ease; /* 'all' means that all properties will transition */
}

.gen-message-btn:hover {
  background-color: #008000;
  transform: scale(0.3); /* 1.1 is the zoom level, adjust as needed */
}


.extra-space {
  margin-top: 20px;
}